@media (min-width: 600px) {

.map {
  left: 150px;
  width: calc(100% - 150px);
}

.map-info {
  width: 500px;
}

.map-list {
  left: 0px;
  width: 150px;
  background-color: #eee;
}
.map-list-item p {
  color: #333;
}

.layer-menu {
  left: 0px;
  width: 144px;
}

@keyframes popup_animation {
    from {top: -90%;}
    to {top: 10px;}
}

.mapboxgl-popup {
  top: 10px;
  left: 160px;
  min-width: 400px;
}

.map-list-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.map-help {
  font-size: 20px;
  left: 160px;
}

.map-geolocate {
  position: absolute;
}

.map-reset {
  position: absolute;
}

}

@media (min-width: 500px) {
  .mapboxgl-popup-close-button {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

@media (min-width: 800px) {
  .map {
    left: 300px;
    width: calc(100% - 300px);
  }
  .map-list {
    width: 300px;
  }
  .layer-menu {
    width: 294px;
  }
  .mapboxgl-popup {
    left: 310px;
  }
  .map-help {
    left: 310px;
  }
}

/* Medium sizes */
@media (max-width: 1000px) and (min-width: 600px) {
  .mapboxgl-popup {
    max-width: 300px;
  }
}
